*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{    
    /* background-image: linear-gradient(to right, gold,gray,black);  */
}
.signin{
    position: absolute;
    top: 10%;
    left: 150px;
    color: black;
    font-weight: 10px;
    font-size: 40px;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container1{
    box-sizing: border-box;
    position: relative;
    top: 50px;
    width: 400px;
    height: 600px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 13px;
    text-align: center;
    background-color:white;
    border: 2px solid black;
    box-shadow: 2px 5px 10px gray;
}
.box1{
    margin-top: 100px;
    border-bottom: 1px solid black;
    /* border: 1px solid black; */
    outline: none;
    border-bottom: 1px solid black;
    display: inline-flex;
}
.box2{
    margin-top: 20px;
    /* border-bottom: 1px solid black; */
    /* border: 1px solid black; */
    height: 60px;
    outline: none;
    border-bottom: 1px solid black;
    display: inline-flex;
}

.input{
    border-bottom: 1px solid rgb(147, 146, 146);
    outline: none;
    margin: 20px;
    border: 1px solid white;
}
.papa{
    display: inline-flex;
}
.face{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    /* border: 1px solid black; */
    margin: 5px;
    display: flex;
 }
 